<h2>Listagem de Pokémons</h2>

<div class="row gap-3">
    @for (pokemon of pokemons; track pokemon.nome) {
        <div class="col-md-3">
            <a class="text-decoration-none" [routerLink]="['/pokemons', pokemon.id]">
                <div class="card text-center m-1 ">
                    <div class="card-body">
                        <h5 class="card-title">{{ pokemon.nome }}</h5>

                        <img [src]="pokemon.urlSprite" [alt]="pokemon.nome">

                        <div class="d-flex justify-content-center gap-3">
                            @for (tipo of pokemon.tipos; track $index) {
                                <span class="badge rounded-pill text-light fs-6" [ngClass]="coresPorTipoMap[tipo]">{{tipo}}</span>
                            }
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>